@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
   
}

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto bg-gray-800 hover:bg-green-500 hover:text-white text-blue-200 rounded-3xl hover:rounded-xl transition-all duration-300 ease-linear cursor-pointer;
  }
  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md text-white bg-gray-900 text-xs font-bold transition-all duration-100 scale-0 origin-left;
  }
}

.fir-parent{
  height: 70%;
}
.fir-parent div{
  /* border: 2px solid red; */
  border-radius: 10px;
  padding: 2px;
  /* background: linear-gradient(to bottom,  rgba(25, 19, 20, .5), rgba(6,9,20,.5)); */
  color: black;
  width: 33%;
}

.sec-parent{
  height: 30%;
}

.sec-parent div{
  border-radius: 10px;
  padding: 2px;
  /* background: linear-gradient(to bottom,  rgba(255, 192, 203, .5), rgba(60,93,200,.7)); */
  width: 33%;
  color: black;
}

body{
  background: linear-gradient(to bottom,  rgba(255, 192, 203, .7), rgba(60,93,200,.7));
}

@keyframes fade-in {  
  0% { opacity: 0; }  
  100% { opacity: 1; }  
}  

.animate-fade-in {  
  animation: fade-in 1s ease-in-out;  
}